@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 7px;
}

:root {
    --font-1: #f8f9fa;
    --font-2: #ced4da;
    --font-3: #6c757d;
    --bg-1: #495057;
    --bg-2: #6c757d;
}

body {
    background: -moz-radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), -moz-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background: -webkit-radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), -webkit-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background: -ms-radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), -ms-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background: -o-radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), -o-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background: radial-gradient(0% 2%, circle, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, black 10px, rgba(96, 16, 48, 0) 11px), none;
    background-size: 20px 20px;
    background-color: #444;
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

i {
    font-size: small;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px var(--bg-1) solid;
    color: var(--font-2);
    border-radius: 7px;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: var(--font-1);
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-1);
    border-radius: 7px;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

.logo {
    width: 60vw;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

nav {
    font-weight: 400;
}

nav li {
    padding-top: 15px;
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    nav>ul {
        flex-direction: column;
    }
}

.t-container {
    left: 20px;
    right: 20px;
}

.table {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    background-color: var(--bg-2);
    border-color: var(--bg-1);
    color: var(--font-1);
}

.table-style {
    color: var(--font-1);
    background-color: var(--bg-2);
    border-radius: 7px;
    left: 5px;
    right: 5px;
}

.mt-3 {
    margin: 10px;
}

#hero {
    background-color: #6c757d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 130px;
    width: 50%;
    border-radius: 7px;
}

#hero2 {
    background-color: #6c757d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    width: 50%;
    border-radius: 7px;
}

.hero-2 {
    margin-top: 60px;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

@media (max-width: 650px) {
    #hero {
        margin-top: 120px;
    }
}

footer {
    margin-top: 30px;
    background-color: var(--bg-1);
    color: var(--font-1);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
}